{% include "helpers/int_divider.slang.j2" %}
{% include "helpers/vulkan_arithmetic.slang.j2" %}

[[vk::constant_id(0)]] const uint OP_TYPE = 0;
[[vk::constant_id(1)]] const uint IS_CONTIG = 0;
[[vk::constant_id(2)]] const uint USE_SCALAR = 0;
[[vk::constant_id(3)]] const uint NDIM = 0;
[[vk::constant_id(4)]] const uint WG_x = 0;

struct PushConstants
{
    IntDivider sizes;
    uint4 strides_a;
    uint4 strides_b;
    uint4 strides_out;
    uint64_t numel;
    {{ d1 }} alpha;
    {{ d1 }} scalar_value;
};

[[vk::push_constant]] ConstantBuffer<PushConstants> pcs;

interface IBinaryOp<T>
{
    static T eval(T a, T b, T alpha);
}

struct AddOp<T : IArithmetic> : IBinaryOp<T>
{
    static T eval(T a, T b, T alpha) { return a + (alpha * b); }
}

struct SubOp<T : IArithmetic> : IBinaryOp<T>
{
    static T eval(T a, T b, T alpha) { return a - (alpha * b); }
}

struct RSubOp<T : IArithmetic> : IBinaryOp<T>
{
    static T eval(T a, T b, T alpha) { return b - (alpha * a); }
}

struct MulOp<T : IArithmetic> : IBinaryOp<T>
{
    static T eval(T a, T b, T alpha) { return a * b; }
}

struct DivOp<T : IArithmetic> : IBinaryOp<T>
{
    static T eval(T a, T b, T alpha) { return a / b; }
}

struct PowOp<T : IVulkanArithmetic> : IBinaryOp<T>
{
    static T eval(T a, T b, T alpha) { return T.ext_pow(a, b); }
}

struct RPowOp<T : IVulkanArithmetic> : IBinaryOp<T>
{
    static T eval(T a, T b, T alpha) { return T.ext_pow(b, a); }
}

struct Atan2Op<T : IVulkanArithmetic> : IBinaryOp<T>
{
    static T eval(T a, T b, T alpha) { return T.ext_atan2(a, b); }
}

struct MaxOp<T : IVulkanArithmetic> : IBinaryOp<T>
{
    static T eval(T a, T b, T alpha) { return T.ext_max(a, b); }
}

struct MinOp<T : IVulkanArithmetic> : IBinaryOp<T>
{
    static T eval(T a, T b, T alpha) { return T.ext_min(a, b); }
}

struct ThresholdBackwardOp<T : IVulkanArithmetic> : IBinaryOp<T>
{
    static T eval(T a, T b, T alpha) { return T.ext_threshold_backward(a, b, alpha); }
}

void baseBinaryKernel<
    T,
    let VEC_SIZE : int,
    Op : IBinaryOp<vector<T, VEC_SIZE>>
>(
    uint3 gi: SV_DispatchThreadID,
    StructuredBuffer<vector<T, VEC_SIZE>> tensor_a,
    StructuredBuffer<vector<T, VEC_SIZE>> tensor_b,
    RWStructuredBuffer<vector<T, VEC_SIZE>> tensor_out,
    vector<T, VEC_SIZE> alpha, vector<T, VEC_SIZE> scalar_value
) 
{
    uint idx = gi.x;
    if (idx * VEC_SIZE >= pcs.numel) return;

    vector<T, VEC_SIZE> v1, v2, res;
    v1 = tensor_a[idx];
    v2 = USE_SCALAR != 0 ? scalar_value : tensor_b[idx];

    res = Op.eval(v1, v2, alpha);

    uint64_t remainder = pcs.numel - (idx * VEC_SIZE);
    if (remainder >= VEC_SIZE) { tensor_out[idx] = res; }
    else {
        vector<T, VEC_SIZE> temp = tensor_out[idx];
        for (uint i = 0; i < remainder; i++) { temp[i] = res[i]; }
        tensor_out[idx] = temp;
    }
}

void baseBinaryKernel<
    T,
    let ndim : int,
    Op : IBinaryOp<T>
>(
    uint3 gi: SV_DispatchThreadID,
    StructuredBuffer<T> tensor_a,
    StructuredBuffer<T> tensor_b,
    RWStructuredBuffer<T> tensor_out,
    T alpha, T scalar_value
)
{
    uint idx = gi.x;
    if (idx >= pcs.numel) return;

    uint idx_a = 0;
    uint idx_b = 0;
    uint idx_out = 0;
    uint linear_idx = idx;

    [unroll]
    for (int i = 0; i < ndim; i++) {
        uint next_linear_idx = fast_div(linear_idx, pcs.sizes, i);
        uint coord = linear_idx - (next_linear_idx * pcs.sizes.divisor[i]);
        linear_idx = next_linear_idx;
        idx_a += coord * pcs.strides_a[i];
        idx_b += coord * pcs.strides_b[i];
        idx_out += coord * pcs.strides_out[i];
    }

    T v1, v2;
    v1 = tensor_a[idx_a];
    v2 = USE_SCALAR != 0 ? scalar_value : tensor_b[idx_b];

    tensor_out[idx_out] = Op.eval(v1, v2, alpha);
}

[[vk::binding(0, 0)]] StructuredBuffer<vector<{{ d1 }}, {{ v1 }}>> tensor_a_contig;
[[vk::binding(1, 0)]] StructuredBuffer<vector<{{ d1 }}, {{ v1 }}>> tensor_b_contig;
[[vk::binding(2, 0)]] RWStructuredBuffer<vector<{{ d1 }}, {{ v1 }}>> tensor_out_contig;

[[vk::binding(0, 0)]] StructuredBuffer<{{ d1 }}> tensor_a_noncontig;
[[vk::binding(1, 0)]] StructuredBuffer<{{ d1 }}> tensor_b_noncontig;
[[vk::binding(2, 0)]] RWStructuredBuffer<{{ d1 }}> tensor_out_noncontig;

[shader("compute")]
[numthreads(WG_x, 1, 1)]
void main(uint3 gi: SV_DispatchThreadID) {

    {% for is_contig in [true, false] %}
    {% for op in OPERATIONS %}

    {% if is_contig %}

    if (IS_CONTIG != 0 && OP_TYPE == {{ op['name'] }}) baseBinaryKernel<{{ d1 }}, {{ v1 }}, {{ op['struct'] }}<vector<{{ d1 }}, {{ v1 }}>>>(
        gi, tensor_a_contig, tensor_b_contig, tensor_out_contig, pcs.alpha, pcs.scalar_value
    );

    {% else %}

    {% for dim in range(MAX_DIMS+1) %}
    if (IS_CONTIG == 0 && OP_TYPE == {{ op['name'] }} && NDIM == {{ dim }}) baseBinaryKernel<{{ d1 }}, {{ dim }}, {{ op['struct'] }}<{{ d1 }}>>(
        gi, tensor_a_noncontig, tensor_b_noncontig, tensor_out_noncontig, pcs.alpha, pcs.scalar_value
    );
    {% endfor %}

    {% endif %}
    
    {% endfor %}
    {% endfor %}
}