{% include "helpers/int_divider.slang.j2" %}

[[vk::constant_id(0)]] const uint NDIM = 0;
[[vk::constant_id(1)]] const uint WG_x = 0;

struct Metadata
{
    uint64_t sizes;
    uint64_t strides_in;
    uint64_t strides_out;
};

struct PushConstants
{
    uint64_t tensor_in;
    uint64_t tensor_out;
    uint64_t metadata;
    uint64_t numel;
};

[[vk::push_constant]] ConstantBuffer<PushConstants> pcs;

void copyKernel<T>(
    uint3 gi: SV_DispatchThreadID,
    uint64_t address_in,
    uint64_t address_out,
    uint64_t address_metadata,
    uint64_t numel
)
{
    uint idx = gi.x;
    if (idx >= numel) return;

    T* tensor_in = (T*)address_in;
    T* tensor_out = (T*)address_out;

    Metadata md = *(Metadata*)address_metadata;
    uint* strides_in = (uint*)md.strides_in;
    uint* strides_out = (uint*)md.strides_out;

    uint idx_in = 0;
    uint idx_out = 0;
    uint linear_idx = idx;

    for (uint i = 0; i < NDIM; i++) 
    {
        uint next_linear_idx = fast_div(md.sizes, linear_idx, i, NDIM);
        uint divisor = get_divisor(md.sizes, i);
        uint coord = linear_idx - (next_linear_idx * divisor);
        linear_idx = next_linear_idx;
        idx_in += coord * strides_in[i];
        idx_out += coord * strides_out[i];
    }

    tensor_out[idx_out] = tensor_in[idx_in];
}

[shader("compute")]
[numthreads(WG_x, 1, 1)]
void main(uint3 gi: SV_DispatchThreadID) {
    copyKernel<{{ d1 }}>(gi, pcs.tensor_in, pcs.tensor_out, pcs.metadata, pcs.numel);
}
