{% include "helpers/int_divider.slang.j2" %}

[[vk::constant_id(0)]] const uint NDIM = 0; 
[[vk::constant_id(1)]] const uint IS_CONTIG = 0; 
[[vk::constant_id(2)]] const uint WG_x = 0;

struct Metadata
{
    uint64_t sizes;
    uint64_t strides;
};

struct PushConstants
{
    uint64_t tensor;
    uint64_t metadata;
    uint64_t numel;
    {{ d1 }} fill_value;
};

[[vk::push_constant]] ConstantBuffer<PushConstants> pcs;

void fillKernel(
    uint3 gi: SV_DispatchThreadID,
    uint64_t address,
    uint64_t address_metadata,
    uint64_t numel,
    {{ d1 }} fill_value
)
{
    uint idx = gi.x;
    {{ d1 }}* tensor = ({{ d1 }}*)address;

    if (IS_CONTIG == 1)
    {
        if (idx * {{ v1 }} >= numel) return;

        vector<{{ d1 }}, {{ v1 }}>* v_tensor = (vector<{{ d1 }}, {{ v1 }}>*)address;
        vector<{{ d1 }}, {{ v1 }}> value = vector<{{ d1 }}, {{ v1 }}>(fill_value);

        uint64_t remainder = numel - (idx * {{ v1 }});
        if (remainder >= {{ v1 }})
        {
            v_tensor[idx] = value;
        }
        else
        {
            for (uint i = 0; i < remainder; i++) {
                tensor[idx * {{ v1 }} + i] = fill_value;
            }
        }

        return;
    }

    if (idx >= numel) return;

    Metadata md = *(Metadata*)address_metadata;
    uint* strides = (uint*)md.strides;

    uint idx_in = 0;
    uint linear_idx = idx;

    for (uint i = 0; i < NDIM; i++) 
    {
        uint next_linear_idx = fast_div(md.sizes, linear_idx, i, NDIM);
        uint divisor = get_divisor(md.sizes, i);
        uint coord = linear_idx - (next_linear_idx * divisor);
        linear_idx = next_linear_idx;
        idx_in += coord * strides[i];
    }

    tensor[idx_in] = fill_value;
}

[shader("compute")]
[numthreads(WG_x, 1, 1)]
void main(uint3 gi: SV_DispatchThreadID) 
{
    fillKernel(gi, pcs.tensor, pcs.metadata, pcs.numel, pcs.fill_value);
}
