

[[vk::constant_id(0)]] const int WG_x = 0;
[[vk::constant_id(1)]] const int WG_y = 0;

struct PushConstants {
    uint M;
    uint N;
    uint K;
    uint stride_A;
    uint stride_B;
    uint stride_C;
    float alpha;
    float beta;
};

[[vk::push_constant]] ConstantBuffer<PushConstants> pcs;

static const int TILE_M = 128;
static const int TILE_N = 128;
static const int TILE_K = 16;
static const int THREAD_SIZE_M = 8;
static const int THREAD_SIZE_N = 8;

// each 32-bit word is assigned to a given bank % 32, so to prevent
// bank conflicts we pad the shared memory arrays by 1 element ({{ v1 }}) 
// at the end of each row
groupshared {{ d1 }} smemA[TILE_M][TILE_K + {{ v1 }}];
groupshared {{ d1 }} smemB[TILE_K][TILE_N + {{ v1 }}];

void matmulKernel(
    uint3 gi: SV_DispatchThreadID,
    uint3 li: SV_GroupThreadID,
    StructuredBuffer<vector<{{ d1 }}, {{ v1 }}>> tensor_a,
    StructuredBuffer<vector<{{ d1 }}, {{ v1 }}>> tensor_b,
    RWStructuredBuffer<vector<{{ d1 }}, {{ v1 }}>> tensor_out
)
{
    vector<{{ d1 }}, {{ v1 }}> accum[THREAD_SIZE_M][THREAD_SIZE_N / {{ v1 }}] = { 0 };

    uint thread_idx = li.y * WG_x + li.x;
    uint threads = WG_x * WG_y;
    uint thread_row_start = li.y * THREAD_SIZE_M;
    uint thread_col_start = li.x * THREAD_SIZE_N;

    uint vectors_A = (TILE_M * TILE_K) / {{ v1 }};
    uint vectors_B = (TILE_K * TILE_N) / {{ v1 }};
    uint loads_per_thread_A = vectors_A / threads;
    uint loads_per_thread_B = vectors_B / threads;

    for (int k_block = 0; k_block < pcs.K; k_block += TILE_K) 
    {
        // loads a TILE_M x TILE_K block of A into shared memory
        [unroll] for (int i = 0; i < loads_per_thread_A; ++i) 
        {
            uint load_idx = thread_idx + (i * threads);

            uint vectors_per_row = TILE_K / {{ v1 }};
            uint row_A = load_idx / vectors_per_row; 
            uint col_A = (load_idx % vectors_per_row) * {{ v1 }};

            uint global_row = (gi.y / WG_y) * TILE_M + row_A;
            uint global_col = k_block + col_A;

            vector<{{ d1 }}, {{ v1 }}> loaded_vec = { 0 };
            if (global_row < pcs.M && global_col < pcs.K) {
                uint flat_idx = (global_row * pcs.stride_A) + global_col;
                loaded_vec = tensor_a[flat_idx / {{ v1 }}];
            }

            [unroll] for (int v = 0; v < {{ v1 }}; ++v) {
                smemA[row_A][col_A + v] = loaded_vec[v];
            }
        }

        // loads a TILE_K x TILE_N block of B into shared memory
        [unroll] for (int i = 0; i < loads_per_thread_B; ++i) 
        {
            uint load_idx = thread_idx + (i * threads);

            uint vectors_per_row = TILE_N / {{ v1 }};
            uint row_B = load_idx / vectors_per_row;
            uint col_B = (load_idx % vectors_per_row) * {{ v1 }};

            uint global_row = k_block + row_B; 
            uint global_col = (gi.x / WG_x) * TILE_N + col_B;

            vector<{{ d1 }}, {{ v1 }}> loaded_vec = { 0 };
            if (global_row < pcs.K && global_col < pcs.N) {
                uint flat_idx = (global_row * pcs.stride_B) + global_col;
                loaded_vec = tensor_b[flat_idx / {{ v1 }}];
            }

            [unroll] for (int v = 0; v < {{ v1 }}; ++v) {
                smemB[row_B][col_B + v] = loaded_vec[v];
            }
        }

        // we need to wait for each thread to finish loading their portion
        // of the tiles into shared memory before we can start the computation
        GroupMemoryBarrierWithGroupSync();
        
        // compute the matmul for this tile
        [unroll] for (int k = 0; k < TILE_K; k++) 
        {    
            vector<{{ d1 }}, {{ v1 }}> b_frag[THREAD_SIZE_N / {{ v1 }}]; 
            
            [unroll] for (int j = 0; j < THREAD_SIZE_N / {{ v1 }}; ++j) {
                vector<{{ d1 }}, {{ v1 }}> tmp;
                [unroll] for (int v = 0; v < {{ v1 }}; ++v) {
                    tmp[v] = smemB[k][thread_col_start + j * {{ v1 }} + v];
                }
                b_frag[j] = tmp;
            }

            [unroll] 
            for (int i = 0; i < THREAD_SIZE_M; ++i) 
            {
                {{ d1 }} a_val = smemA[thread_row_start + i][k];
                
                [unroll] for (int j = 0; j < THREAD_SIZE_N / {{ v1 }}; ++j) {
                    accum[i][j] += a_val * b_frag[j];
                }
            }
        }

        // we need to wait for all threads to finish computing on the current tile
        // before we can start loading the next tile into shared memory, since we reuse the same
        // shared memory buffers for each tile
        GroupMemoryBarrierWithGroupSync();
    }

    uint global_row_start = (gi.y / WG_y) * TILE_M + thread_row_start;
    uint global_col_start = (gi.x / WG_x) * TILE_N + thread_col_start;
    uint vectors_per_row = THREAD_SIZE_N / {{ v1 }};

    // write the results back to global memory
    [unroll] for (int i = 0; i < THREAD_SIZE_M; ++i) 
    {        
        uint g_row = global_row_start + i;
        [unroll] for (int j_vec = 0; j_vec < vectors_per_row; ++j_vec) 
        {
            uint g_col = global_col_start + (j_vec * {{ v1 }});            

            if (g_row < pcs.M && g_col < pcs.N) {
                uint flat_idx = (g_row * pcs.stride_C) + g_col;
                tensor_out[flat_idx / {{ v1 }}] = accum[i][j_vec] * ({{ d1 }})pcs.alpha;
            }
        }
    }
}

[[vk::binding(0, 0)]] StructuredBuffer<vector<{{ d1 }}, {{ v1 }}>> tensor_a;
[[vk::binding(1, 0)]] StructuredBuffer<vector<{{ d1 }}, {{ v1 }}>> tensor_b;
[[vk::binding(2, 0)]] RWStructuredBuffer<vector<{{ d1 }}, {{ v1 }}>> tensor_out;

[shader("compute")]
[numthreads(WG_x, WG_y, 1)]
void main(
    uint3 gi: SV_DispatchThreadID,
    uint3 li: SV_GroupThreadID
) 
{
    matmulKernel(gi, li, tensor_a, tensor_b, tensor_out);
}