{% include "helpers/int_divider.slang.j2" %}
{% include "helpers/vulkan_arithmetic.slang.j2" %}

[[vk::constant_id(0)]] const uint OP_TYPE = 0;
[[vk::constant_id(1)]] const uint NDIM = 0;
[[vk::constant_id(2)]] const uint WG_x = 0;

struct Metadata
{
    uint64_t sizes;
    uint64_t strides_in;
};

struct PushConstants
{
    uint64_t tensor_in;
    uint64_t tensor_out;
    uint64_t metadata;
    uint64_t numel_out;
    uint reduce_stride;
    uint reduce_size;
};

[[vk::push_constant]] ConstantBuffer<PushConstants> pcs;

interface IReduceOp<T>
{
    static T combine(T a, T b);
}

struct SumReduceOp<T : IVulkanArithmetic> : IReduceOp<T>
{
    static T combine(T a, T b) { return T.ext_add(a, b); }
}

struct AmaxReduceOp<T : IVulkanArithmetic> : IReduceOp<T>
{
    static T combine(T a, T b) { return T.ext_max(a, b); }
}

struct AminReduceOp<T : IVulkanArithmetic> : IReduceOp<T>
{
    static T combine(T a, T b) { return T.ext_min(a, b); }
}

struct ProdReduceOp<T : IVulkanArithmetic> : IReduceOp<T>
{
    static T combine(T a, T b) { return T.ext_mul(a, b); }
}

void baseReduceKernel<
    T,
    Op : IReduceOp<T>
>(
    uint3 gi: SV_DispatchThreadID,
    uint64_t address_in,
    uint64_t address_out,
    uint64_t address_metadata,
    uint64_t numel_out,
    uint reduce_stride,
    uint reduce_size
)
{
    uint idx = gi.x;
    if (idx >= numel_out) return;

    T* tensor_in = (T*)address_in;
    T* tensor_out = (T*)address_out;

    Metadata md = *(Metadata*)address_metadata;
    uint* strides_in = (uint*)md.strides_in;

    uint idx_in = 0;
    uint linear_idx = idx;

    for (uint i = 0; i < NDIM; i++) 
    {
        uint next_linear_idx = fast_div(md.sizes, linear_idx, i, NDIM);
        uint divisor = get_divisor(md.sizes, i);
        uint coord = linear_idx - (next_linear_idx * divisor);
        linear_idx = next_linear_idx;
        idx_in += coord * strides_in[i];
    }

    T acc = tensor_in[idx_in];
    for (uint r = 1; r < reduce_size; r++) {
        acc = Op.combine(acc, tensor_in[idx_in + r * reduce_stride]);
    }

    tensor_out[idx] = acc;
}

[shader("compute")]
[numthreads(WG_x, 1, 1)]
void main(uint3 gi: SV_DispatchThreadID) {

    {% for op in OPERATIONS %}
    if (OP_TYPE == {{ op['name'] }}) baseReduceKernel<{{ d1 }}, {{ op['struct'] }}<{{ d1 }}>>(
        gi, pcs.tensor_in, pcs.tensor_out, pcs.metadata, pcs.numel_out, pcs.reduce_stride, pcs.reduce_size
    );
    {% endfor %}
}
