{% include "helpers/int_divider.slang.j2" %}
{% include "helpers/vulkan_arithmetic.slang.j2" %}

[[vk::constant_id(0)]] const uint OP_TYPE = 0;
[[vk::constant_id(1)]] const uint NDIM = 0;
[[vk::constant_id(2)]] const uint WG_x = 0;

struct PushConstants
{
    IntDivider sizes;
    uint4 strides_in;
    uint reduce_stride;
    uint reduce_size;
    uint64_t numel_out;
};

[[vk::push_constant]] ConstantBuffer<PushConstants> pcs;

interface IReduceOp<T>
{
    static T identity();
    static T combine(T a, T b);
    static T wave_reduce(T a);
}

struct SumReduceOp : IReduceOp<{{ d1 }}>
{
    static {{ d1 }} identity() { return {{ d1 }}.ext_zero(); }
    static {{ d1 }} combine({{ d1 }} a, {{ d1 }} b) { return {{ d1 }}.ext_add(a, b); }
    static {{ d1 }} wave_reduce({{ d1 }} a) { return WaveActiveSum(a); }
}

struct AmaxReduceOp : IReduceOp<{{ d1 }}>
{
    static {{ d1 }} identity() { return {{ d1 }}.ext_lowest(); }
    static {{ d1 }} combine({{ d1 }} a, {{ d1 }} b) { return {{ d1 }}.ext_max(a, b); }
    static {{ d1 }} wave_reduce({{ d1 }} a) { return WaveActiveMax(a); }
}

struct AminReduceOp : IReduceOp<{{ d1 }}>
{
    static {{ d1 }} identity() { return {{ d1 }}.ext_highest(); }
    static {{ d1 }} combine({{ d1 }} a, {{ d1 }} b) { return {{ d1 }}.ext_min(a, b); }
    static {{ d1 }} wave_reduce({{ d1 }} a) { return WaveActiveMin(a); }
}

void baseSubgroupReduceKernel<
    T,
    let ndim : int,
    Op : IReduceOp<T>
>(
    uint out_idx,
    uint lane,
    StructuredBuffer<T> tensor_in,
    RWStructuredBuffer<T> tensor_out
)
{
    if (out_idx >= pcs.numel_out) return;

    uint idx_in = 0;
    uint linear_idx = out_idx;

    [unroll]
    for (int i = 0; i < ndim; i++) {
        uint next_linear_idx = fast_div(linear_idx, pcs.sizes, i);
        uint coord = linear_idx - (next_linear_idx * pcs.sizes.divisor[i]);
        linear_idx = next_linear_idx;
        idx_in += coord * pcs.strides_in[i];
    }

    T acc = Op.identity();
    for (uint r = lane; r < pcs.reduce_size; r += WG_x) {
        acc = Op.combine(acc, tensor_in[idx_in + r * pcs.reduce_stride]);
    }
    acc = Op.wave_reduce(acc);

    if (lane == 0) tensor_out[out_idx] = acc;
}

[[vk::binding(0, 0)]] StructuredBuffer<{{ d1 }}> tensor_in;
[[vk::binding(1, 0)]] RWStructuredBuffer<{{ d1 }}> tensor_out;

[shader("compute")]
[numthreads(WG_x, 1, 1)]
void main(uint3 group_id: SV_GroupID, uint3 group_thread_id: SV_GroupThreadID) {

    {% for op in OPERATIONS %}
    {% for dim in range(MAX_DIMS+1) %}
    if (OP_TYPE == {{ op['name'] }} && NDIM == {{ dim }}) baseSubgroupReduceKernel<{{ d1 }}, {{ dim }}, {{ op['struct'] }}>(
        group_id.x, group_thread_id.x, tensor_in, tensor_out
    );
    {% endfor %}
    {% endfor %}
}
