{% include "helpers/int_divider.slang.j2" %}
{% include "helpers/vulkan_arithmetic.slang.j2" %}

[[vk::constant_id(0)]] const uint OP_TYPE = 0;
[[vk::constant_id(1)]] const uint IS_CONTIG = 0;
[[vk::constant_id(2)]] const uint NDIM = 0;
[[vk::constant_id(3)]] const uint WG_x = 0;

struct Metadata
{
    uint64_t sizes;
    uint64_t strides_in;
    uint64_t strides_out;
};

struct PushConstants
{
    uint64_t tensor_in;
    uint64_t tensor_out;
    uint64_t metadata;
    uint64_t numel;
};

[[vk::push_constant]] ConstantBuffer<PushConstants> pcs;

interface IUnaryOp<T>
{
    static T eval(T a);
}

struct ReluOp<T : IVulkanArithmetic> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_max(a, T.ext_zero()); }
}

struct ExpOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_exp(a); }
}

struct LogOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_log(a); }
}

struct SqrtOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_sqrt(a); }
}

struct NegOp<T : IVulkanArithmetic> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_neg(a); }
}

struct ReciprocalOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_reciprocal(a); }
}

struct SinOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_sin(a); }
}

struct CosOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_cos(a); }
}

struct TanOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_tan(a); }
}

struct AsinOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_asin(a); }
}

struct AcosOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_acos(a); }
}

struct AtanOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_atan(a); }
}

struct SinhOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_sinh(a); }
}

struct CoshOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_cosh(a); }
}

struct TanhOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_tanh(a); }
}

struct Exp2Op<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_exp2(a); }
}

struct Log2Op<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_log2(a); }
}

struct Log10Op<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_log10(a); }
}

struct Expm1Op<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_expm1(a); }
}

struct Log1pOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_log1p(a); }
}

struct RsqrtOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_rsqrt(a); }
}

struct SigmoidOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_sigmoid(a); }
}

struct AsinhOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_asinh(a); }
}

struct AcoshOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_acosh(a); }
}

struct AtanhOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_atanh(a); }
}

struct Deg2radOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_deg2rad(a); }
}

struct Rad2degOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_rad2deg(a); }
}

struct FloorOp<T : IVulkanArithmetic> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_floor(a); }
}

struct CeilOp<T : IVulkanArithmetic> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_ceil(a); }
}

struct TruncOp<T : IVulkanArithmetic> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_trunc(a); }
}

struct RoundOp<T : IVulkanArithmetic> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_round(a); }
}

struct FracOp<T : IVulkanArithmetic> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_frac(a); }
}

struct AbsOp<T : IVulkanArithmetic> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_abs(a); }
}

struct SignOp<T : IVulkanArithmetic> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_sign(a); }
}

struct ErfOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_erf(a); }
}

struct ErfinvOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_erfinv(a); }
}

struct SincOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_sinc(a); }
}

struct EntrOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_entr(a); }
}

struct LgammaOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_lgamma(a); }
}

struct DigammaOp<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_digamma(a); }
}

struct I0Op<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_i0(a); }
}

struct I1Op<T : IVulkanFloat> : IUnaryOp<T>
{
    static T eval(T a) { return T.ext_i1(a); }
}

void baseUnaryKernel<
    T,
    Op : IUnaryOp<T>,
    let VEC_SIZE : uint
>(
    uint3 gi: SV_DispatchThreadID,
    uint64_t address_in,
    uint64_t address_out,
    uint64_t address_metadata,
    uint64_t numel
)
{
    uint idx = gi.x;

    if (IS_CONTIG != 0)
    {
        if (idx * VEC_SIZE >= numel) return;

        vector<T, VEC_SIZE>* v_tensor_in = (vector<T, VEC_SIZE>*)address_in;
        vector<T, VEC_SIZE>* v_tensor_out = (vector<T, VEC_SIZE>*)address_out;

        vector<T, VEC_SIZE> v = v_tensor_in[idx];
        vector<T, VEC_SIZE> res;

        [unroll] for (int k = 0; k < VEC_SIZE; k++) res[k] = Op.eval(v[k]);

        uint64_t remainder = numel - (idx * VEC_SIZE);
        if (remainder >= VEC_SIZE) 
        { 
            v_tensor_out[idx] = res; 
        }
        else 
        {
            T* tensor_out = (T*)address_out;
            for (uint i = 0; i < remainder; i++) {
                tensor_out[idx * VEC_SIZE + i] = res[i];
            }
        }
    }
    else
    {
        if (idx >= numel) return;

        T* tensor_in = (T*)address_in;
        T* tensor_out = (T*)address_out;

        Metadata md = *(Metadata*)address_metadata;
        uint* strides_in = (uint*)md.strides_in;
        uint* strides_out = (uint*)md.strides_out;

        uint idx_in = 0;
        uint idx_out = 0;
        uint linear_idx = idx;

        for (uint i = 0; i < NDIM; i++) 
        {
            uint next_linear_idx = fast_div(md.sizes, linear_idx, i, NDIM);
            uint divisor = get_divisor(md.sizes, i);
            uint coord = linear_idx - (next_linear_idx * divisor);
            linear_idx = next_linear_idx;
            idx_in += coord * strides_in[i];
            idx_out += coord * strides_out[i];
        }

        tensor_out[idx_out] = Op.eval(tensor_in[idx_in]);
    }
}

[shader("compute")]
[numthreads(WG_x, 1, 1)]
void main(uint3 gi: SV_DispatchThreadID) {

    {% for op in OPERATIONS %}
    {% if 'float' in d1 or not op.get('float_only') %}

    if (OP_TYPE == {{ op['name'] }})
    {
        baseUnaryKernel<
            {{ d1 }},
            {{ op['struct'] }}<{{ d1 }}>,
            {{ v1 }}
        >(
            gi, pcs.tensor_in, pcs.tensor_out, pcs.metadata, pcs.numel
        );
    }

    {% endif %}
    {% endfor %}
}
