{% include "helpers/int_divider.slang.j2" %}

[[vk::constant_id(0)]] const uint IS_CONTIG = 0;
[[vk::constant_id(1)]] const uint NDIM = 0;
[[vk::constant_id(2)]] const uint WG_x = 0;

struct Metadata
{
    uint64_t sizes;
    uint64_t strides_cond;
    uint64_t strides_a;
    uint64_t strides_b;
};

struct PushConstants
{
    uint64_t tensor_cond;
    uint64_t tensor_a;
    uint64_t tensor_b;
    uint64_t tensor_out;
    uint64_t metadata;
    uint64_t numel;
};

[[vk::push_constant]] ConstantBuffer<PushConstants> pcs;

void whereKernel(
    uint3 gi: SV_DispatchThreadID,
    uint64_t address_cond,
    uint64_t address_a,
    uint64_t address_b,
    uint64_t address_out,
    uint64_t address_metadata,
    uint64_t numel
)
{
    uint idx = gi.x;
    if (idx >= numel) return;

    uint8_t* tensor_cond = (uint8_t*)address_cond;
    {{ d1 }}* tensor_a = ({{ d1 }}*)address_a;
    {{ d1 }}* tensor_b = ({{ d1 }}*)address_b;
    {{ d1 }}* tensor_out = ({{ d1 }}*)address_out;

    uint idx_c = idx, idx_a = idx, idx_b = idx;
    
    if (IS_CONTIG == 0) 
    {
        Metadata md = *(Metadata*)address_metadata;
        uint* strides_cond = (uint*)md.strides_cond;
        uint* strides_a = (uint*)md.strides_a;
        uint* strides_b = (uint*)md.strides_b;

        idx_c = 0; idx_a = 0; idx_b = 0;
        uint linear_idx = idx;

        for (uint i = 0; i < NDIM; i++) 
        {
            uint next_linear_idx = fast_div(md.sizes, linear_idx, i, NDIM);
            uint divisor = get_divisor(md.sizes, i);
            uint coord = linear_idx - (next_linear_idx * divisor);
            linear_idx = next_linear_idx;
            idx_c += coord * strides_cond[i];
            idx_a += coord * strides_a[i];
            idx_b += coord * strides_b[i];
        }
    }

    tensor_out[idx] = (tensor_cond[idx_c] != uint8_t(0)) ? tensor_a[idx_a] : tensor_b[idx_b];
}

[shader("compute")]
[numthreads(WG_x, 1, 1)]
void main(uint3 gi: SV_DispatchThreadID) {
    whereKernel(gi, pcs.tensor_cond, pcs.tensor_a, pcs.tensor_b, pcs.tensor_out, pcs.metadata, pcs.numel);
}
