struct IntDivider {
    uint4 divisor;
    uint4 multiplier;
    uint4 shift_val;
};

uint fast_div(uint n, IntDivider d, int dim) {
    uint t = (uint)(((uint64_t)n * d.multiplier[dim]) >> 32);
    return (t + n) >> d.shift_val[dim];
}