# torchvulkan
torchvulkan/_version.py
src/shaders/shader_registry.h

# testing data
data/

# python
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# build files
build/
dist/
*.egg-info/
*.so
*.dll
*.dylib
*.o
*.a
*.out

# cmake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# IDE files
.vscode/
.idea/
*.swp

# operating system
.DS_Store
Thumbs.db